.head{
   text-align: center;
   display: flex;
   background-color: #1d2951 ;
   justify-content: center;
   border-radius: 40px;
   color: white
}

.waiterStatus {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   flex-direction: row;
}

.waiterTitle{
   text-align: center;
}

.table{
   border: 1px black solid;
   border-radius: 10px;
}